<head>
	{% block head %} {% endblock head %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'labeller/style.css' %}">

	<title>{% block title %}Hemepath{% endblock %}</title>
</head>

<body>
<h1> UCSF Hematopathology Cell Labeller </h1>

<p class="row_menu">
	<a href="{% url 'labeller:index' %}">UCSF Hemepath Labeller</a> - 
	<a href="{% url 'labeller:regions' %}">Regions</a> - 
	<a href="{% url 'labeller:cells' %}">Cells</a>

</p>

{% block content %} {% endblock content %}
</body>