{% extends 'labeller/base.html' %}
{% load static %}

{% block title %}Upload Cells{% endblock %}

{% block content %}
<script src="{% static 'labeller/dropzone-5.7.0/dist/dropzone.js' %}"></script>
<link rel="stylesheet" href="{% static 'labeller/dropzone-5.7.0/dist/dropzone.css' %}">
  <h2>Upload Cells</h2>


    <form action="dropzone_image" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>

    {% comment %} {% if img_obj %}
      <h3>Successfully uploaded: {{ img_obj.cid }}</h3>
      <img src="{{ img_obj.image.url }}" alt="connect", style="mas_height=300px">
    {% endif %} {% endcomment %}

    {% comment %} <input type="text" name="projects" /> {% endcomment %}

    </form>
    <br>

    {% comment %} <button id="upload-btn" type="submit">Add Cells</button> {% endcomment %}



{% endblock %}