{% extends 'labeller/base.html' %}
{% load static %}

{% block title %}Upload Cells{% endblock %}

{% block content %}
<script src="{% static 'labeller/dropzone-5.7.0/dist/dropzone.js' %}"></script>
<link rel="stylesheet" href="{% static 'labeller/dropzone-5.7.0/dist/dropzone.css' %}">
  <h2>Upload Cells</h2>

  <div>

    <form action="dropzone_image" id="my-dropzone" method="POST" enctype="multipart/form-data" class="dropzone">
      {% csrf_token %}
    </form>
    <br>

    <button id="upload-btn" type="button">Add Cells</button>

  </div>

{% endblock %}