{% extends 'labeller/base2.html' %}
{% load static %}

{% block title %}Diagnoses{% endblock %}

{% block content %}

<h2>Diagnoses ({{diagnoses|length}})</h2>

  <div class="container-fluid">
    
      {% for diagnosis in diagnoses %}
      <div class="d-flex flex-row">
        <p class="px-2">{{diagnosis}}</p>
        <a href="/diagnosis/{{diagnosis.pk}}/" class="btn btn-primary p-1">
          <i class="bi-arrow-right-circle-fill"></i>
        </a>  
        
      </div>
      <hr>
      {% empty %}
        <p id="no_diagnoses">No diagnoses have been added yet.</p>
      {% endfor %}

  </div>

{% endblock %}