{% extends "labeller/base.html" %}

{% block head %} {% endblock head %}
{% block title %}Label Region{% endblock %}

{% block content %}


{% load static %}


<div id='labeller'>
	
	<div class="column1">
		<p id="region"><img src="{{region.image.url}}"></p>
		<div id='current_cell'>
				<div>
					{% with cells.0 as current_cell %}
					{% with forms.0 as current_form %}
					<p> <img src="{{current_cell.image.url}}"></p>
					<p>{{current_cell.cid}}</p>
					<p>{{current_form.image}}</p>
					<p>{{current_cell.cell_type}}</p>
					<p>{{current_form}}</p>
					<p>
						hello kitty
						{{current_form.instance.image.url}}
					</p>
					{% endwith %}
					{% endwith %}
				</div>
		</div>
	</div>

	<div class="column2">
		<p>
			{% load static %}
			<img id='reference_maturation' src="{% static 'labeller/images/Reference_maturation.png' %}">
		</p>
	</div>

</div>


<table id="classification_table">
	<tr>
		<th>Neutrophilic</th>
		<th>Other granulocytic</th>
		<th>Lymphoid</th>
		<th>Erythroid</th>
		<th>Misc</th>
	</tr>
	<tr>
		<td>Blast (1): {{ form.BLAST }}</td>
		<td>Immature Eo: {{ form.IMM_EO }}</td>
		<td>Lymphobast: {{ form.LYMPHOBLAST }}</td>
		<td>Pronormoblast: {{ form.ER_PRONORM }}</td>						
		<td>Artifact: {{ form.ARTIFACT }}</td>
	</tr>
	<tr>
		<td>Myelocyte (2): {{ form.MYELOCYTE }}</td>
		<td>Eosinophil: {{ form.EO }}</td>
		<td>Hematogone: {{ form.HEMATOGONE }}</td>
		<td>Basophilic normoblast: {{ form.ER_BASO_NORMO }}</td>						
		<td>Unknown: {{ form.UNKNOWN }}</td>
	</tr>
	<tr>
		<td>Promyelocyte (3): {{ form.PROMYELOCYTE }}</td>
		<td>Immature Baso: {{ form.IMM_BASO }}</td>
		<td>Mature Lymphocyte: {{ form.LYMPHOCYTE }}</td>
		<td>Polychromatophilic: {{ form.ER_POLYCHROM }}</td>						
		<td>Other: {{ form.OTHER }}</td>
	</tr>

	<tr>
		<td>Metamyelocyte (4): {{ form.METAMYELOCYTE }}</td>
		<td>Basophile: {{ form.BASO }}</td>
		<td>LGL: {{ form.LGL }}</td>
		<td>Orthochromic (nuc red): {{ form.ER_ORTHO }}</td>						
		<td>Histiocyte: {{ form.HISTIOCYTE }}</td>
	</tr>
	<tr>
		<td>Band (5): {{ form.BAND }}</td>
		<td>Monoblast: {{ form.MONOBLAST }}</td>
		<td>Plasma cell: {{ form.PLASMA }}</td>
		<td>Reticulocyte: {{ form.ER_RETIC }}</td>						
		<td></td>
	</tr>
	<tr>
		<td>Seg (6): {{ form.SEG }}</td>
		<td>Monocyte: {{ form.MONOCYTE }}</td>
		<td></td>
		<td>Mature RBC: {{ form.ER_MATURE }}</td>		
		<td></td>
	</tr>
</table>

<div id="test_keyboard">keycode = 0</div>

{{forms|first}}
<button>
save and view next cell
</button>

<div id="inline_cells">
	{% for cell in cells %}
	<div>
		<p><img src="{{cell.image.url}}">	</p>
		<p>{{cell.cid}}</p>
	</div>
	{% empty %}
	<li>No cells have been added yet</li>
	{% endfor %}
</div>


<div id="inline_cells">
	{% for current_form in forms %}
	<div>
		{{current_form}}
	</div>
	{% empty %}
	<li>No cells have been added yet</li>
	{% endfor %}
</div>

{% if cells %}
    Number of cells: {{ cells|length }}
{% else %}
    No cells.
{% endif %}

<div id="greg_counter">blank</div>


{% with forms|first as current_form %}
	{{current_form.image}}
	{{current_form.label}}
	{{current_form.cid}}
	hello kitty
{% endwith %%}

<script src="{% static 'labeller/testing.js' %}" onload="loaded=true;"></script>



{% endblock content %}