{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Region{% endblock %}

{% block content %}
<script src="{% static 'labeller/Cell.js' %}"></script>
<script src="{% static 'labeller/CellCounter.js' %}"></script>

{% include "labeller/partials/help_display.html" %}

<div id="labeller">
	{% include "labeller/partials/region_annotator_fabric.html" %}
	
	<div id="column2_wrapper" >
		{% include "labeller/partials/image_control_bars.html" %}
		

		{% include "labeller/partials/dot_legend.html" %}
		{% include "labeller/partials/current_cell.html" %}

	</div>


	<div>
	{% include "labeller/partials/mini_counter.html" %}
	</div>
</div>


{% include "labeller/partials/cell_summary.html" %}
<div id="test_keyboard">Last Key Pressed: </div>
{% comment %}
	{% include "labeller/partials/big_table.html" %}
{% endcomment %}
<div id="region_info_headline"></div>
<div id="slide_back_link"></div>

{% include "labeller/partials/main_lineages_horizontal.html" %}


<script> 
	function getULForSlide(id, sid, slide_name) {

		slide_path = '/label_slide/'+sid+ '/';
		var ul = '<ul class="slide_list slide_list_box">';
		ul = ul + '<li ><b>Parent slide information</b></li>';
		ul = ul + '<li class="slide_id">ID: '+ id +'</li>';
		ul = ul + '<li class="slide_sid">SID: '+ sid +'</li>';
		ul = ul + '<li class="slide_name" id="slide_name_' +sid+ '">Name: ' +slide_name+ '</li>';
		ul = ul + '<li class="label_btn"><a class="slide_label_btn" href= "'+ slide_path+'">Go to slide</a></li>';
		ul = ul + '</ul>'
		return ul;
	};

	

	function getULForRegion(id, rid, x, y, width, height) {

		x = x.substr(0, x.indexOf('.'));
		y = y.substr(0, y.indexOf('.'));
		width = width.substr(0, width.indexOf('.'));
		height = height.substr(0, height.indexOf('.'));

		var ul = '<ul class="slide_list slide_list_box">';
		ul = ul + '<li ><b>Region information</b></li>';
		ul = ul + '<li class="slide_id">ID: '+ id +'</li>';
		ul = ul + '<li class="slide_sid">RID: '+ rid +'</li>';
		ul = ul + '<li> x: ' +x+ '</li>';
		ul = ul + '<li> y: ' +y+ '</li>';
		ul = ul + '<li> width: ' +width+ '</li>';
		ul = ul + '<li> height: ' +height+ '</li>';
		ul = ul + '</ul>'
		return ul;
	};

	$('#region_info_headline').append(getULForRegion('{{region.pk}}', '{{region.rid}}', '{{region.x}}', '{{region.y}}', '{{region.width}}', '{{region.height}}'));
	$('#slide_back_link').append(getULForSlide('{{slide.pk}}', '{{slide.sid}}', '{{slide.name}}'));
</script>

<script>
 $(document).ready(function() {
 	Cell.addCellLabelKeyboardEventListeners()    
 });
</script>

{% endblock %}
