{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Region{% endblock %}
{% block content %}
<script type="text/javascript">
function createRegionDiv(rid, img_path, region_path) {
  new_div = '<div class="region_summary_div"><ul class="region_summary_ul"><li class="region_summary_li" id="regionSummary_' +rid+ '">RID: '+'<a href="' +region_path+ '">' +rid+ '</a>';
  new_div += '<li><button id="delete_region_button_'+rid+'" class="delete_region_button rid=' +rid+' ">Delete</button></li></ul>';
  new_div += '<ul class="region_summary_img"><li><img class="region_thumb" src="' +img_path+ '" id="region_img_' +rid+ '"></li></ul></div>';
  // new_div = '<p id="regionSummary_'+rid+'"> RID: '+'<a href="'+ region_path + '">' + rid + '</a>    '+'\
  //   <img class="region_thumb" src="'+img_path+'" id="region_img_'+rid+'"> <button id="delete_region_button_'+rid+'" class="delete_region_button rid='+rid+'">delete</button></p>'
  console.log(new_div);
  return new_div;
}

function fadeRegionInAndOut(rid){
  $('.floating_region').remove()
  imageID = 'region_img_' + rid;
  clone = $('#'+imageID).clone()
  clone.addClass('floating_region')
  console.log(clone)
  clone.click(function() { 
    $(this).fadeOut(2000);
    //$(this).remove()
  });
  $('#regions').prepend(clone)
  $('.floating_region').fadeIn(2000);
  //clone.fadeOut(500);
  //clone.delete();
}

function addNewRegion(sid, x1, y1, x2, y2){
     $.post("/add_new_region/", {'sid':sid, 'x1':x1, 'y1':y1, 'x2':x2, 'y2':y2}, function(json){
     console.log("Was successful?: " + json['success'] +' '+ json['rid']+' '+ json['region_path']);
      
      //Add new region to top of regions div
      $('#regions').prepend(createRegionDiv(json['rid'],json['region_path']));
      $('#delete_region_button_'+json['rid']).click(function(){ 
        region_delete_click_handler(this.classList)
      });
      fadeRegionInAndOut(json['rid'])

    });
 }
</script>

<!-- ID: {{slide.id}} &nbsp &nbsp &nbsp &nbsp -->


<h2 id="slide_banner">Slide</h2>


<div id="openseadragon1" style="width: 100%; height: 700px;"></div>
<p id="slide_info" style="text-align: center;"> SID: {{slide.sid}} &nbsp &nbsp &nbsp &nbsp  <button id="add_new_region_button">Crop New Region</button></p>

<h2 id="regions_banner">Regions</h2>
<div id="regions">
<u1>
  {% for region in regions %}
  <script>
    var region_path =  "{% url 'labeller:label_region_fabric' region.rid %}";
    // console.log('path', region_path)
    $('#regions').append(createRegionDiv('{{region.rid}}', '{{region.image.url}}', region_path));
  </script>

  {% empty %}
    <li>No regions have been added yet</li>
  {% endfor %}

</u1></div>


{% endblock content %}

{% block scripts %} 
<script src="{% static 'labeller/openseadragon/openseadragon.min.js' %}"></script>

<script type="text/javascript">
  // console.log('static', '{% static media %}');
  // console.log('dzi_path', '{{ slide.dzi_path }}');
  // console.log('new_path', '{% static media %}{{ slide.dzi_path }}');
  dzi_path = '/{{ slide.dzi_path }}';
  var prefix_url = "{% static 'labeller/openseadragon/images/' %}";

//  new_path = '/slides/23.dzi'
  // var dzi_path = "{% static 'labeller/images/zoom/' %}" + '{{slide.sid}}' + '.dzi';
  // console.log('old dzi path', dzi_path);
  // console.log('prefix_url', prefix_url)
  // var slide_id = "{{slide.sid}}"
  // console.log('slide_id', slide_id)

</script>

<script>

// https://codepen.io/iangilman/pen/qBdabGM
// https://stackoverflow.com/questions/36006823/openseadragon-selection information on how to return info from selection

var viewer = OpenSeadragon({
    id: "openseadragon1",
    showNavigator:  true,
    debugMode: false,
    visibilityRatio: 1.0,
    prefixUrl: prefix_url,
    tileSources: dzi_path,
});


var drag;
var selectionMode = false;

new OpenSeadragon.MouseTracker({
    element: viewer.element,
    
    pressHandler: function(event) {
      console.log('Presss handler')
      if (!selectionMode) {
        return;
      }
      
      var overlayElement = document.createElement('div');
      overlayElement.id = "box1"
      overlayElement.class = "box_selection"
      overlayElement.style.border = "4px solid red"
      var viewportPos = viewer.viewport.pointFromPixel(event.position);
      viewer.addOverlay(overlayElement, new OpenSeadragon.Rect(viewportPos.x, viewportPos.y, 0, 0));
      
      imagePointPos = viewer.viewport.viewportToImageCoordinates(viewportPos);
  
      drag = {
        overlayElement: overlayElement, 
        startPos: viewportPos,
        startPosImagePoint: imagePointPos,
        endPosImagePoint: imagePointPos,
      };
    },

    dragHandler: function(event) {
      if (!drag) {
        return;
      }
  
      var viewportPos = viewer.viewport.pointFromPixel(event.position);
      var diffX = viewportPos.x - drag.startPos.x;
      var diffY = viewportPos.y - drag.startPos.y;
  
      var location = new OpenSeadragon.Rect(
        Math.min(drag.startPos.x, drag.startPos.x + diffX), 
        Math.min(drag.startPos.y, drag.startPos.y + diffY), 
        Math.abs(diffX), 
        Math.abs(diffY)
      );
  
      viewer.updateOverlay(drag.overlayElement, location);
      drag.endPosImagePoint = viewer.viewport.viewportToImageCoordinates(viewportPos);

      var webPoint = event.position;
      var viewportPoint = viewer.viewport.pointFromPixel(webPoint);
      var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);

      console.log(webPoint.toString(), viewportPoint.toString(), imagePoint.toString());
    },



  releaseHandler: function(event) {


    var x1 = drag.startPosImagePoint.x;
    var y1 = drag.startPosImagePoint.y;
    var x2 = drag.endPosImagePoint.x;
    var y2 = drag.endPosImagePoint.y;


    console.log(x1, y1, x2, y2)
    var slide_id = '{{slide.sid}}'
    addNewRegion(slide_id, x1, y1, x2, y2)

    
        var height = drag.overlayElement.height;
  //      console.log('release ', x, y, width, height);
        console.log(drag, x1)

        // console.log(drag.overlayElement.getBoundingClientRect())

    // Description of coordinate system
    // https://openseadragon.github.io/examples/viewport-coordinates/


    // var viewportPos = viewer.viewport.pointFromPixel(event.position);

    // // The canvas-click event gives us a position in web coordinates.
   //    var webPoint = event.position;
   //    console.log(webPoint)

   //    webPoint.x = x;
   //    webPoint.y = y;
   //    console.log(webPoint)

   //    // Convert that to viewport coordinates, the lingua franca of OpenSeadragon coordinates.
   //    var viewportPoint = viewer.viewport.pointFromPixel(webPoint);

   //    // Convert from viewport coordinates to image coordinates.
   //    var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);

   //    // Show the results.
   //    console.log(webPoint.toString(), viewportPoint.toString(), imagePoint.toString());

    //   console.log(viewer.getOverlayById("box1"))

      drag = null;
      selectionMode = false;
      viewer.setMouseNavEnabled(true);
  }

});
if (document.getElementById('add_new_region_button')!=null) {
  document.getElementById('add_new_region_button').addEventListener('click', function() {
    selectionMode = true;
    console.log('button pressed');
    viewer.setMouseNavEnabled(false);
  });
}

function region_delete_click_handler(classList) {
  console.log('region_delete_click_handler', classList)
  for (i=0; i<classList.length; i++){
    rid_loc = classList[i].indexOf("rid=");
    if (rid_loc!=-1) {
      console.log(classList[i].substr(rid_loc+4))
      var rid = classList[i].substr(rid_loc+4);
      $.post("/delete_region/", {'rid':rid}, function(json){
        if (json['success'] == true) {
          console.log('deleteRegionFromDatabase success')
          $('#regionSummary_'+rid).remove();
        }
        else {
          console.log("Error in deleteRegionFromDatabase: ", json); 
          return false;
        } 
      });

    }
  }
}  

$('.delete_region_button').click(function(){ 
  region_delete_click_handler(this.classList)
});


</script>
{% endblock scripts %}

