{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Region{% endblock %}
{% block content %}

ID: {{slide.id}} &nbsp &nbsp &nbsp &nbsp
SID: {{slide.sid}} &nbsp &nbsp &nbsp &nbsp  

<button id="button">Select Region</button>

<div id="openseadragon1" style="width: 1200px; height: 800px;"></div>


<div id="regions">
<u1>
	{% for region in regions %}
	<p> 
		ID: {{region.id}} &nbsp &nbsp &nbsp &nbsp
		RID: {{region.rid}} &nbsp &nbsp &nbsp &nbsp  
		<img src="{{region.image.url}}" >
	</p>			


	{% empty %}
		<li>No regions have been added yet</li>
	{% endfor %}

</u1></div>


{% endblock content %}

{% block scripts %} 
<script src="{% static 'labeller/openseadragon/openseadragon.min.js' %}"></script>

<script type="text/javascript">

    var dzi_path = "{% static 'labeller/images/zoom/' %}" + '{{slide.sid}}' + '.dzi';
    var prefix_url = "{% static 'labeller/openseadragon/images/' %}";
    var slide_id = "{{slide.sid}}"

</script>

<script src="{% static 'labeller/label_slide.js' %}" onload="loaded=true;"></script>
{% endblock scripts %}

