{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Slide{% endblock %}

{% block content %}
<script src="{% static 'labeller/Cell.js' %}"></script>
<script src="{% static 'labeller/CellCounter.js' %}"></script>
<script src="{% static 'labeller/Region.js' %}"></script>

<!-- <h3 id="slide_banner">Slide</h3> -->
{% include "labeller/partials/slide_viewer.html" %}

{% include "labeller/partials/slide_diagnoses.html" %}
{% include "labeller/partials/cell_summary.html" %}
<span class="p-2"></span>
{% include "labeller/partials/region_list.html" %}

{% endblock content %}

