{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Region{% endblock %}

{% block content %}


<div id='labeller'>


	<div class="column1" style="position: relative">

		<img class="region region_image" id="r{{region.rid}}" style="position: absolute" src="{{region.image.url}}">
		<canvas style="position: relative; top: 0; left: 0; z-index: 0" id="regionCanvas" height="{{region.ceil_height}}" width="{{region.ceil_width}}"></canvas>

	</div>

	<div id="column2_wrapper">

		<div class="column2">
			<h2>Counter</h2>
			<div id='counter'></div>
			<div id='ME_ratio'></div>
		</div>

		<div class="column2">
			<!-- <h2>Legend</h2> -->
			<table class="dot_legend_table">
				<TR>
					<TD><span class="dot" style="background-color: yellow; border: solid 5px yellow;"></span></TD>
					<TD>Current Cell</TD>
				</TR>
				<TR>
					<TD><span class="dot no_highlight_dot UL" ></span></TD>
					<TD>Unlabelled</TD>
				</TR>
				<TR>
					<TD><span class="dot no_highlight_dot"></span></TD>
					<TD>Labelled</TD>
				</TR>	
			</table>
		</div>
		<div class="column2" id="current_cell_column2">
	 		<h2 id='current_cell_title'>Current Cell</h2>
	 		{% with cells.0 as current_cell %}
			<div class='current_cell' id="{{current_cell.cid}}">
				<img class='center' id='currentCellImage' src="{{current_cell.image.url}}">
				<p class='center' id='currentCellId_{{current_cell.cid}}'>Cell ID: {{current_cell.cid}}</p>
				<p class='center cell_type' id='cellClass_{{current_cell.cid}}'>{{current_cell.cell_type}}</p>
			</div> 
			{% endwith %}
		</div>


	</div>


</div>


<table id="classification_table">
	<tr class="class_table_row">
		<th>Neutrophilic
		<th>Other granulocytic
		<th>Lymphoid
		<th>Erythroid
		<th>Misc
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M1">Blast (1):
		<td class="class_table_td" id="count_E1">Immature Eo (q):
		<td class="class_table_td" id="count_L0">Lymphobast (a):
		<td class="class_table_td" id="count_ER1">Pronormoblast (z):						
		<td class="class_table_td" id="count_U1">Artifact (7):
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M2">Myelocyte (2):
		<td class="class_table_td" id="count_E2">Eosinophil (w):
		<td class="class_table_td" id="count_L1">Hematogone (s):
		<td class="class_table_td" id="count_ER2">Basophilic normoblast (x):						
		<td class="class_table_td" id="count_U2">Unknown (8):
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M3">Promyelocyte (3):
		<td class="class_table_td" id="count_B1">Immature Baso (e):
		<td class="class_table_td" id="count_L2">Mature Lymphocyte (d):
		<td class="class_table_td" id="count_ER3">Polychromatophilic (c):						
		<td class="class_table_td" id="count_U3">Other (9):
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M4">Metamyelocyte (4):
		<td class="class_table_td" id="count_B2">Basophil (r):
		<td class="class_table_td" id="count_L3">LGL (f):
		<td class="class_table_td" id="count_ER4">Orthochromic/nuc red (v):						
		<td class="class_table_td" id="count_U4">Histiocyte (0):
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M5">Band (5):
		<td class="class_table_td" id="count_MO1">Monoblast (t):
		<td class="class_table_td" id="count_L4">Plasma cell (g):
		<td class="class_table_td" id="count_ER5">Reticulocyte (b):						
		<td class="class_table_td">
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M6">Seg (6):
		<td class="class_table_td" id="count_MO2">Monocyte (y):
		<td class="class_table_td">
		<td class="class_table_td" id="count_ER6">Mature RBC (n):	
</table>


<div id="test_keyboard">Last Key Pressed: </div>
<p id="additional_instructions">Press left and right arrows to change cell</p>
<p id="additional_instructions">Click on cell to select it, or to create a new cell</p>


<h2>Unlabelled Cells</h2>
<div id="unlabelled_cells_inline" class="inline_cells">

</div>


<h2>Myeloid cells</h2>
<div id="myeloid_cells_inline" class="inline_cells"></div>

<!-- <h2>Neutrophilic cells</h2>
<div id="neutrophilic_cells_inline" class="inline_cells"></div>

<h2>Other granulocytic cells</h2>
<div id="granulocytic_cells_inline" class="inline_cells"></div>
 -->
<h2>Lymphoid Cells</h2>
<div id="lymphoid_cells_inline" class="inline_cells"></div>

<h2>Erythroid Cells</h2>
<div id="erythroid_cells_inline" class="inline_cells"></div>

<h2>Miscelaneous Cells</h2>
<div id="misc_cells_inline" class="inline_cells"></div>

<h2>All Cells in Region</h2>
<div id="all_cells_inline" class="inline_cells"></div>




<!-- <h2>Reference</h2>
<p>
	<img id='reference_maturation' src="{% static 'labeller/images/Reference_maturation.png' %}">
</p>
 -->

{% endblock content %}

{% block scripts %} 

<script type="text/javascript">
	var region_img_url = '{{region.image.url}}';
	console.log('region image path = ', region_img_url)
	var region_rid = '{{region.rid}}';
	var cells_json = '{{cells_json}}';
</script>


<script src="{% static 'labeller/label_region.js' %}" onload="loaded=true;"></script>

{% endblock scripts %}