{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Region{% endblock %}

{% block content %}


<div id='labeller'>


	<div class="column1" style="position: relative">

		<img class="region region_image" id="r{{region.rid}}" style="position: absolute" src="{{region.image.url}}">
		<canvas style="position: relative; top: 0; left: 0; z-index: 0" id="regionCanvas" height="{{region.ceil_height}}" width="{{region.ceil_width}}"></canvas>

	</div>

	<div id="column2_wrapper">

		{% include "labeller/partials/mini_counter.html" %}

		{% include "labeller/partials/dot_legend.html" %}

		{% include "labeller/partials/current_cell.html" %}

	</div>


</div>
{% include "labeller/partials/big_table.html" %}




<div id="test_keyboard">Last Key Pressed: </div>
<p id="additional_instructions">Press left and right arrows to change cell</p>
<p id="additional_instructions">Click on cell to select it, or to create a new cell</p>

{% include "labeller/partials/main_lineages_horizontal.html" %}

<img id="helpscreen" style="display:none;" src="{% static 'labeller/images/Reference_maturation.png' %}" />



{% endblock content %}

{% block scripts %} 

<script type="text/javascript">
	{% with cells.0 as current_cell %}
		current_cell_cid = {{current_cell.cid}};
	{% endwith %}

	var region_img_url = '{{region.image.url}}';
	console.log('region image path = ', region_img_url)
	var region_rid = '{{region.rid}}';
	var cells_json = '{{cells_json}}';


	var static_image_path = "{% static 'labeller/images/' %}";
	console.log("static", static_image_path);
</script>
<script src="{% static 'labeller/Cell.js' %}"></script>
<script src="{% static 'labeller/CellCounter.js' %}"></script>
<script src="{% static 'labeller/label_region.js' %}" onload="loaded=true;"></script>

{% endblock scripts %}