{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Region{% endblock %}

{% block content %}
<script src="{% static 'labeller/Cell.js' %}"></script>
<script src="{% static 'labeller/CellCounter.js' %}"></script>

{% include "labeller/partials/help_display.html" %}
<div id="current_cell_popout" >
	<h3 id='current_cell_title'>Current Cell</h2>
</div>

<div class="mb-5">
{% include "labeller/partials/region_annotator_fabric.html" %}

{% include "labeller/partials/cell_summary.html" %}
<!-- <div id="test_keyboard">Last Key Pressed: </div>  -->

<div id="region_info_headline"></div>

<script src="{% static 'labeller/Diagnosis.js' %}"></script>
{% include "labeller/partials/slide_diagnoses.html" %}


<div class="mb-5"></div>
{% include "labeller/partials/main_lineages_horizontal.html" %}
</div>

<script> 
	// function getULForSlide(id, sid, slide_name) {

	// 	slide_path = '/label_slide/'+sid+ '/';
	// 	var ul = '<ul class="slide_list slide_list_box">';
	// 	ul = ul + '<li ><b>Parent slide information</b></li>';
	// 	ul = ul + '<li class="slide_id">ID: '+ id +'</li>';
	// 	ul = ul + '<li class="slide_sid">SID: '+ sid +'</li>';
	// 	ul = ul + '<li class="slide_name" id="slide_name_' +sid+ '">Name: ' +slide_name+ '</li>';
	// 	ul = ul + '<li class="label_btn"><a class="slide_label_btn" href= "'+ slide_path+'">Go to slide</a></li>';
	// 	ul = ul + '</ul>'
	// 	return ul;
	// };

	

	function getULForRegion(id, rid, x, y, width, height) {

		x = x.substr(0, x.indexOf('.'));
		y = y.substr(0, y.indexOf('.'));
		width = width.substr(0, width.indexOf('.'));
		height = height.substr(0, height.indexOf('.'));

		var ul = '<ul class="py-3 justify-content-center  slide_list slide_list_box">';
		ul = ul + '<li ><b>Region information</b></li>';
		ul = ul + '<li class="slide_id">ID: '+ id +'</li>';
		ul = ul + '<li class="slide_sid">RID: '+ rid +'</li>';
		ul = ul + '<li> x: ' +x+ '</li>';
		ul = ul + '<li> y: ' +y+ '</li>';
		ul = ul + '<li> width: ' +width+ '</li>';
		ul = ul + '<li> height: ' +height+ '</li>';
		ul = ul + '</ul>'
		return ul;
	};

	$('#region_info_headline').append(getULForRegion('{{region.pk}}', '{{region.rid}}', '{{region.x}}', '{{region.y}}', '{{region.width}}', '{{region.height}}'));
	// $('#slide_back_link').append(getULForSlide('{{slide.pk}}', '{{slide.sid}}', '{{slide.name}}'));
</script>

<script>
 $(document).ready(function() {
	console.log('label_region_fabric.html: ready')
 	Cell.addCellLabelKeyboardEventListeners();
	console.log('label_region_fabric.html: bp2')
	{% if cells %}
		Cell.selectCellByCID({{cells.last.cid}})
		//console.log('bla', cells)
	{% else %}
		$('#current_cell_popout').hide();
	{% endif %}
	console.log('label_region_fabric.html: bp3')
 });
</script>

{% endblock %}
