{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Region{% endblock %}
{% block content %}

ID: {{slide.id}} &nbsp &nbsp &nbsp &nbsp
SID: {{slide.sid}} &nbsp &nbsp &nbsp &nbsp  


<script src="{% static 'labeller/Cell.js' %}"></script>
<script src="{% static 'labeller/CellCounter.js' %}"></script>

{% include "labeller/partials/help_display.html" %}


<div id='labeller'>
	{% include "labeller/partials/label_slide_partial.html" %}

<!-- 	<div id="openseadragon1" style="width: 1700px; height: 800px;"></div> -->
	<div id="column2_wrapper" >
		{% include "labeller/partials/current_cell.html" %}
		{% include "labeller/partials/dot_legend.html" %}
	</div>

	<div>
	{% include "labeller/partials/mini_counter.html" %}
	</div>
</div>

{% include "labeller/partials/big_table.html" %}
{% include "labeller/partials/main_lineages_horizontal.html" %}


<div id="regions">
<u1>
	{% for region in regions %}
	<p> 
		ID: {{region.id}} &nbsp &nbsp &nbsp &nbsp
		RID: {{region.rid}} &nbsp &nbsp &nbsp &nbsp  
		<img src="{{region.image.url}}" >
	</p>			


	{% empty %}
		<li>No regions have been added yet</li>
	{% endfor %}

</u1></div>


{% endblock content %}

{% block scripts %} 
<script src="{% static 'labeller/openseadragon/openseadragon.min.js' %}"></script>
<script src="{% static 'labeller/openseadragon/openseadragon-fabricjs-overlay.js' %}"></script>


<script type="text/javascript">

    var dzi_path = "{% static 'labeller/images/zoom/' %}" + '{{slide.sid}}' + '.dzi';
    var prefix_url = "{% static 'labeller/openseadragon/images/' %}";
    var slide_id = "{{slide.sid}}"

    function AddCellToSlide(cell) {
		// var newDiv1 = '<span class="dot no_highlight_dot '+cell.cell_type+'" id="centroid'+cell.getCID()+ '" style=" display: inline-block; ';
		if ($('.hidden_dot').length >0){
			var newDiv1 = '<span class="hidden_dot no_highlight_dot '+cell.cell_type+'" id="centroid'+cell.getCID()+ '" style="';			
		}
		else {
			var newDiv1 = '<span class="dot no_highlight_dot '+cell.cell_type+'" id="centroid'+cell.getCID()+ '" style="';
		}

		newDiv1 = newDiv1 + 'position: absolute; top: ' + (cell.y-7) +'px; left: ' + (cell.x-7) + 'px; z-index: 100">';		
		newDiv1 = newDiv1 + '</span>';
		//console.log("NewDiv1=", newDiv1, $(newDiv1));
		//$( ".canvas-container" ).append ($(newDiv1));
		$( "#region_canvas_container" ).append ($(newDiv1));
		//region_container_fabric
		
		$("#centroid"+cell.getCID()).on('click', function() {
			Cell.selectCellByCID(cell.getCID());
			RegionLabellerFabric.selectBoxAsActiveFromCID(cell.getCID());

		});
		Cell.highlightCircle(cell.getCID());
		// dragElement(document.getElementById("centroid"+cell.getCID()));
		//RegionLabellerFabric.dragCell(document.getElementById("centroid"+cell.getCID()), cell);

		var cid = cell.getCID();
		$("#centroid"+cell.getCID()).mousedown(function(e) {
			/* Act on the event */
			e = e || window.event;
			Cell.selectCellByCID(cid);
			RegionLabellerFabric.selectBoxAsActiveFromCID(cid)
			console.log('celldrag', this, event, cell, canvas);
			e.preventDefault();
			var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
			pos3 = e.clientX;
			pos4 = e.clientY;
			var jq_obj = this;
			var elmnt = this;
			document.onmouseup = closeDragElement;
			document.onmousemove = elementDrag;

			// $(document).mousemove(function(e){
			// 	e = e || window.event;
			// 	e.preventDefault()
			// 	pos1 = pos3 - e.clientX;
			// 	pos2 = pos4 - e.clientY;
			// 	pos3 = e.clientX;
			// 	pos4 = e.clientY;
			// 	// set the element's new position:
			// 	jq_obj.style.top = (jq_obj.offsetTop - pos2) + "px";
			// 	jq_obj.style.left = (jq_obj.offsetLeft - pos1) + "px";
			// });

			function elementDrag(e) {
					e = e || window.event;
					e.preventDefault();
					// calculate the new cursor position:
					pos1 = pos3 - e.clientX;
					pos2 = pos4 - e.clientY;
					pos3 = e.clientX;
					pos4 = e.clientY;
					// set the element's new position:
					elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
					elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
			}

			function closeDragElement(e) {
				var BB = document.getElementById('region_canvas_original').getBoundingClientRect();
				var X_center=e.clientX-BB.left;
				var Y_center=e.clientY-BB.top;
				var box_left = X_center - cell.width/2
				var box_top = Y_center - cell.height/2;
				console.log('closedragelement', X_center,Y_center, cell)
				RegionLabellerFabric.updateCellLocation(cid, box_top, box_left, cell.height, cell.width, canvas);
				//RegionLabellerFabric.addBoundingBoxFromCell(canvas, cell);

				/* stop moving when mouse button is released:*/
				document.onmouseup = null;
				document.onmousemove = null;

			}
			// $(document).mouseup(function(e){
			// 	e = e || window.event;
			// 	RegionLabellerFabric.selectBoxAsActiveFromCID (cid)
			// 	//canvas.remove(canvas.getActiveObject());
			// 	//RegionLabellerFabric.addBoundingBoxFromCell(canvas, cell);

			// 	/* stop moving when mouse button is released:*/
			// 	$(document).mouseup = null;
			// 	$(document).mousemove = null;
			// });
		});
	
    }

    
    if ('{{cells_json}}' != 'none') {
		var all_cells = Cell.LoadCellsFromJson ('{{cells_json}}');
    }

    $ (document).ready(function() {
		// canvas = RegionLabellerFabric.setupCanvas();
		// normalCanvas = RegionLabellerFabric.setupNormalCanvas();
		//var all_cells = Cell.LoadCellsFromJson ('{{cells_json}}');
		// //console.log('{{cells_json}}')
		// for (var key in all_cells) {
		// 	var cell = all_cells[key];
		// 	//RegionLabellerFabric.addBoundingBoxFromCell(canvas, cell);
		// 	//RegionLabellerFabric.addNewCircle(cell, canvas);
		// 	addNewCircleToSlide(cell, canvas);
		// }

		// {% for c in cells %}
		// 	//		console.log('c=', c);

		// 	var cell = new Cell({{c}});
		// 	all_cells[cell.cid] = cell;
		// 	//		console.log("new cell class", cell);
		// {% empty %}

		// {% endfor %}

		
		CellCounter.updateCountsOnPageAJAXWholeSlide('{{slide.sid}}');
	});


</script>

<!-- <script src="{% static 'labeller/label_slide.js' %}" onload="loaded=true;"></script> -->
{% endblock scripts %}

