{% extends 'labeller/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<script src="{% static 'labeller/Cell.js' %}"></script>
<script src="{% static 'labeller/CellCounter.js' %}"></script>
<script src="{% static 'labeller/dropzone-5.7.0/dist/dropzone.js' %}"></script>

<link rel="stylesheet" href="{% static 'labeller/dropzone-5.7.0/dist/dropzone.css' %}">

<script>
  // My own Dropzone

  Dropzone.options.mySlideDropzone = {
    paramName: function() {
      return "file";
    },

    autoProcessQueue: false,
    maxFilesize: 1000,
    parallelUploads: 100,
    uploadMultiple: true,
    timeout: 100000,

    init: function() {
      var submitButton = document.querySelector("#upload-btn");
      var mySlideDropzone = this;

      submitButton.addEventListener("click", function() {
        mySlideDropzone.processQueue();
      });

      mySlideDropzone.on("complete", function(file) {
        mySlideDropzone.removeFile(file);
      });

      mySlideDropzone.on("success", function(file, serverResponse) {
        console.log('entering mydropzone.on("success")');
        success = serverResponse['success'];
      });
    }
  };

</script>

  <h2>{{ user.get_username }}'s Projects</h2>

  <p>
    <ul>
      {% for project in projects %}


      <p>
        <a href="{% url 'labeller:label_cells_in_project' project.id %}">
        Project: {{ project.name }} </a>  &nbsp &nbsp &nbsp &nbsp
        Project ID: {{ project.id }} &nbsp &nbsp &nbsp &nbsp
      </p>

      {% empty %}
        <li>No projects have been added yet.</li>
      {% endfor %}

  <br>
  <p>
    <form action='/create_project' method="POST">
      {% csrf_token %}
      New Project: <input type="text" name="project" required />
      <button>Create</button>
    </form>
  </p>

  <div>

    <form action="dropzone_slide" id="my-slide-dropzone" method="POST" enctype="multipart/form-data" class="dropzone js-reference-dropzone">
      {% csrf_token %}
    </form>
    <br>
    <button id="upload-btn" type="button">Add Slides</button>

  </div>


{% endblock %}