{% extends "labeller/base.html" %}
{% load static %}

{% block title %}Label Region{% endblock %}
{% block content %}


<div id="openseadragon1" style="width: 800px; height: 600px;"></div>

{% endblock content %}


{% block scripts %}
<script src="{% static 'labeller/openseadragon/openseadragon.min.js' %}"></script>
<!-- <script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "{% static 'labeller/openseadragon/images/' %}",
        tileSources: "/path/to/my/image.dzi"
    });
</script>
 -->

<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        showNavigator:  true,
        debugMode: true,
        visibilityRatio: 1.0,
        constrainDuringPan: true,
        // tileSources: {
           //  Image: {
           //      xmlns: 'http://schemas.microsoft.com/deepzoom/2008',
           //      Url: 'http://content.zoomhub.net/dzis/TDbz_files/',
           //      Format: 'jpg',
           //      Overlap: '1',
           //      TileSize: '254',
           //      ServerFormat: 'Default',
           //      Size: {
           //          Height: '4409',
           //          Width: '7793'
           //      }
           //  }
        }
    });

const annotations = new OpenSeadragon.Annotations({ viewer });
</script>
 
<script type="text/javascript">
$(document).ready(function() {
    var viewer;
    var viewer_is_new;
    function open_slide(link) {
        // Load info objects
        var image;
        image=link;
        // Create viewer if necessary
        if (!viewer) {
            viewer = new OpenSeadragon({
                id: "slidepane",
                prefixUrl: "/static/images/zoom/",
                showNavigator: true,
                animationTime: 0.5,
                blendTime: 0.1,
                constrainDuringPan: true,
                maxZoomPixelRatio: 2,
                minPixelRatio: 0.5,
                minZoomLevel: 1,
                visibilityRatio: 1,
                zoomPerScroll: 2
            });
            viewer.addHandler("open", function() {
                viewer.source.minLevel = 8;
                /* Start zoomed in, then return to home position after
                   loading.  Workaround for blurry viewport on initial
                   load (OpenSeadragon #95). */
                var center = new OpenSeadragon.Point(0.5,
                        1 / (2 * viewer.source.aspectRatio));
                viewer.viewport.zoomTo(2, center, true);
                viewer_is_new = true;
                /* Ensure we receive update-viewport events, OpenSeadragon
                   #94 */
                viewer.drawer.viewer = viewer;
            });
            viewer.addHandler("update-viewport", function() {
                if (viewer_is_new) {
                    setTimeout(function() {
                        if (viewer.viewport) {
                            viewer.viewport.goHome(false);
                        }
                    }, 1);
                    viewer_is_new = false;
                }
            });
        }
        // Load slide
        viewer.open(image);
    }
    open_slide("/histoslide/{{ Slide.pk }}.dzi");
    // CSS doesn't provide a good way to specify a div of height
    // (100% - height(header))
    $(window).resize(function() {
        $('#content').height($(window).height() -
                    $('#header').outerHeight() - 20);
    }).resize();
});

</script>

{% endblock scripts %}
