<table id="classification_table">
	<tr class="class_table_row">
		<th class="class_table_td">Neutrophilic
		<th class="class_table_td">Other granulocytic
		<th class="class_table_td">Lymphoid
		<th class="class_table_td">Erythroid
		<th class="class_table_td">Misc
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M1">Blast (1):
		<td class="class_table_td" id="count_E1">Immature Eo (q):
		<td class="class_table_td" id="count_L0">Lymphobast (a):
		<td class="class_table_td" id="count_ER1">Pronormoblast (z):						
		<td class="class_table_td" id="count_U1">Artifact (7):
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M2">Promyelocyte (2):
		<td class="class_table_td" id="count_E2">Eosinophil (w):
		<td class="class_table_td" id="count_L1">Hematogone (s):
		<td class="class_table_td" id="count_ER2">Basophilic normoblast (x):						
		<td class="class_table_td" id="count_U2">Unknown (8):
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M3">Myelocyte (3):
		<td class="class_table_td" id="count_B1">Immature Baso (e):
		<td class="class_table_td" id="count_L2">Mature Lymphocyte (d):
		<td class="class_table_td" id="count_ER3">Polychromatophilic (c):						
		<td class="class_table_td" id="count_U3">Other (9):
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M4">Metamyelocyte (4):
		<td class="class_table_td" id="count_B2">Basophil (r):
		<td class="class_table_td" id="count_L3">LGL (f):
		<td class="class_table_td" id="count_ER4">Orthochromic/nuc red (v):						
		<td class="class_table_td" id="count_U4">Histiocyte (0):
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M5">Band (5):
		<td class="class_table_td" id="count_MO1">Monoblast (t):
		<td class="class_table_td" id="count_L4">Plasma cell (g):
		<td class="class_table_td" id="count_ER5">Reticulocyte (b):						
		<td class="class_table_td" id="count_UL">Unlabelled (u): 						
		
	<tr class="class_table_row">
		<td class="class_table_td" id="count_M6">Seg (6):
		<td class="class_table_td" id="count_MO2">Monocyte (y):
		<td class="class_table_td">
		<td class="class_table_td" id="count_ER6">Mature RBC (n):	
		<td class="class_table_td">	
</table>