{% load static %}

<div id="openseadragon1" style="width: 1200px; height: 800px;"></div>

<script src="{% static 'labeller/openseadragon/openseadragon.min.js' %}"></script>
<script src="{% static 'labeller/openseadragon/openseadragon-fabricjs-overlay.js' %}"></script>
<script src="{% static 'labeller/openseadragon/fabric.adapted.js' %}"></script>
<script src="{% static 'labeller/underscore/underscore-umd-min.js' %}"></script>

<script>


// App = {
//         // ----------
//     init: function () {
//         var self = this;

//         var dzi_path = "{% static 'labeller/images/zoom/' %}" + '{{slide.sid}}' + '.dzi';
// 	    var prefix_url = "{% static 'labeller/openseadragon/images/' %}";
// 	    var slide_id = "{{slide.sid}}"

// 		this.viewer = OpenSeadragon({
// 		    id: "openseadragon1",
// 		    showNavigator:  true,
// 		    debugMode: false,
// 		    visibilityRatio: 1.0,
// 		    prefixUrl: prefix_url,
// 		    tileSources: dzi_path,
// 		});

// 		new OpenSeadragon.MouseTracker({
// 			element: this.viewer.element,

// 			moveHandler: function(event) {
// 				console.log('Move handler')
// 				var webPoint = event.position;
// 		      var viewportPoint = this.viewer.viewport.pointFromPixel(webPoint);
// 		      var imagePoint = this.viewer.viewport.viewportToImageCoordinates(viewportPoint);

// 		      console.log(webPoint.toString(), viewportPoint.toString(), imagePoint.toString());
// 			}
// 		});

// 		// Initialize overlay
//         var options = {
//             scale: 0
//         }
//         var overlay = this.viewer.fabricjsOverlay(options);
//         // Add fabric rectangle
//         // var rect = new fabric.Rect({
//         //     left: 0,
//         //     top: 0,
//         //     fill: 'red',
//         //     width: 200,
//         //     height: 200
//         // });
//         // overlay.fabricCanvas().add(rect);

//         function addCircle(overlay) {
//         	// Add fabric circle
//             var circle = new fabric.Circle({
//                 left: 500,
//                 top: 0,
//                 fill: 'green',
//                 radius: 50,
//                 selectable: true,
//                 // action: 'gravity'
//             });
//             overlay.fabricCanvas().add(circle);
//             console.log('circle', circle);

//         }

//         function addRect(viewer, overlay, left, top, width, height) {
//         	console.log(overlay, left, top, width, height)


// 		// var viewportPos = viewer.viewport.pointFromPixel(event.position);
//   //   	viewer.addOverlay(overlayElement, new OpenSeadragon.Rect(viewportPos.x, viewportPos.y, 0, 0));
//   //       imagePointPos = viewer.viewport.viewportToImageCoordinates(viewportPos);
  
// 		  var imagePoint = new Object ({
// 		  	x: left,
// 		  	y: top,
// 		  })
// 		  var point1 = new OpenSeadragon.Point(left, top);
// 		  var point2 = new OpenSeadragon.Point(left+width, top+height);
// 		  viewerPoint = viewer.viewport.imageToViewerElementCoordinates(point1);
		  
// 		  // var viewportPoint = viewer.viewport.pointFromPixel(webPoint);
// 		  // var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);

// 		  // console.log(webPoint.toString(), viewportPoint.toString(), imagePoint.toString());
// 		  console.log('imagePoint', imagePoint)
// 		  console.log('viewerPoint', viewerPoint)
// 		  console.log('point1', point1, 'point2', point2)

//         	// Add fabric circle
//         	// point1 = viewer.viewport.imageToViewerElementCoordinates(new OpenSeadragon.Point(left, top));
//         	// point2 = viewer.viewport.imageToViewerElementCoordinates(new OpenSeadragon.Point(left+width, top+height));

//             var rect = new fabric.Rect({
//                 left: point1.x,
//                 top: point1.y,
//                 fill: 'red',
//                 width: point2.x-point1.x,
//                 height: point2.y-point1.y,
//                 selectable: true,
//             });
//             console.log('rect', rect);
//             overlay.fabricCanvas().add(rect);

//         }

//         {% for region in regions %}
// 			console.log({{region}})
// 			addRect(this.viewer, overlay, {{region.x}}, {{region.y}}, {{region.height}}, {{region.width}});
			
// 		{% empty %}

// 		{% endfor %}

//         addCircle(overlay);
// 	}	


// }



function addRect(viewer, overlay, left, top, width, height) {
    console.log(overlay, left, top, width, height)


	// var viewportPos = viewer.viewport.pointFromPixel(event.position);
	//   	viewer.addOverlay(overlayElement, new OpenSeadragon.Rect(viewportPos.x, viewportPos.y, 0, 0));
	//       imagePointPos = viewer.viewport.viewportToImageCoordinates(viewportPos);

	
	var point1 = new OpenSeadragon.Point(left, top);
	var point2 = new OpenSeadragon.Point(left+width, top+height);
	viewerPoint1 = viewer.viewport.imageToViewerElementCoordinates(point1);
	viewerPoint2 = viewer.viewport.imageToViewerElementCoordinates(point2);

	//This is very wrong as well
	// viewerPoint1 = viewer.viewport.imageToViewportCoordinates(point1);
	// viewerPoint2 = viewer.viewport.imageToViewportCoordinates(point2);

	var viewportPoint = viewer.viewport.pointFromPixel(point1);

	// This is very wrong - not sure why
	var windowPoint1 = viewer.viewport.imageToWindowCoordinates(point1);
	var windowPoint2 = viewer.viewport.imageToWindowCoordinates(point2);


	// var viewportPoint = viewer.viewport.pointFromPixel(webPoint);
	// var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);

	// console.log(webPoint.toString(), viewportPoint.toString(), imagePoint.toString());
	//console.log('imagePoint', imagePoint)
	// console.log('viewerPoint1', viewerPoint1, 'viewerPoint2', viewerPoint2)
	// console.log('windowPoint', windowPoint1) 
	// console.log('point1', point1, 'point2', point2)


	// Add fabric circle
	// point1 = viewer.viewport.imageToViewerElementCoordinates(new OpenSeadragon.Point(left, top));
	// point2 = viewer.viewport.imageToViewerElementCoordinates(new OpenSeadragon.Point(left+width, top+height));

	var rect = new fabric.Rect({
	    left: Math.min(viewerPoint1.x, viewerPoint2.x)-0.5,
	    top: Math.min(viewerPoint1.y, viewerPoint2.y)-127,
	    fill: 'green',
	    width: Math.abs(viewerPoint2.x-viewerPoint1.x),
	    height: Math.abs(viewerPoint2.y-viewerPoint1.y),
	    selectable: true,
	    opacity: 0.5
	});
	console.log('rect', rect);
	overlay.fabricCanvas().add(rect);


}

function addInitialLayers(viewer){

	new OpenSeadragon.MouseTracker({
		element: viewer.element,

		moveHandler: function(event) {
			console.log('Move handler')
			var webPoint = event.position;
	      var viewportPoint = viewer.viewport.pointFromPixel(webPoint);
	      var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);
	      //console.log(webPoint.toString(), viewportPoint.toString(), imagePoint.toString());
		}
	});

	var options = {
            scale: 1
    }
    var overlay = viewer.fabricjsOverlay(options);


    function addCircle(overlay) {
    	// Add fabric circle
        var circle = new fabric.Circle({
            left: 500,
            top: 0,
            fill: 'green',
            radius: 50,
            selectable: true,
            // action: 'gravity'
        });
        overlay.fabricCanvas().add(circle);
        console.log('circle', circle);

    }
    addCircle(overlay)

	{% for region in regions %}
		console.log('region', {{region}});
		var left = {{region.x}};
		var top = {{region.y}};
		var width = {{region.width}};
		var height = {{region.height}};

		console.log('region coordinates', {{region.x}}, {{region.y}}, {{region.height}}, {{region.width}});
		var point1 = new OpenSeadragon.Point(left, top);
		var point2 = new OpenSeadragon.Point(left+width, top+height);
		viewerPoint = viewer.viewport.imageToViewportCoordinates(left, top);
		viewerPoint = viewer.viewport.imageToViewportCoordinates(left, top);
		rect = viewer.viewport.imageToViewportRectangle(left, top, width, height);
		console.log('point1', point1, 'point2', point2, 'viewerPoint', viewerPoint, 'rect', rect);
		addRect(viewer, overlay, left, top, width, height);
		//overlay.fabricCanvas().add(rect);
		//viewerPoint = viewer.viewport.imageToV


	{% empty %}

	{% endfor %}

}

function checkIfOpenSeaDragonIsReady(viewer){
	let openSeadragonReady = false;
	let checkLoadedTimeout;

	viewer.addHandler('tile-loaded', (obj) => {
	        if (checkLoadedTimeout) {
	           clearTimeout(checkLoadedTimeout);
	        }
	        checkLoadedTimeout = setTimeout(() => {
	          let loaded = true;
	          let level = obj.tile.level;
	          _.forEach(obj.tiledImage.tilesMatrix[level], (tiles) => {
	            _.forEach(tiles, (tile) => {
	              if (!tile.loaded) {
	                loaded = false;
	              }
	            });
	          });
	          if (loaded && !openSeadragonReady) {
	           openSeadragonReady = true;
	           console.log('openSeadragonReady')
	           // view loaded
	           addInitialLayers(viewer)
	          }
	        }, 1);
	      });

}

$(document).ready(function () {
	//App.init();

	var dzi_path = "{% static 'labeller/images/zoom/' %}" + '{{slide.sid}}' + '.dzi';
    var prefix_url = "{% static 'labeller/openseadragon/images/' %}";
    var slide_id = "{{slide.sid}}"


	var viewer = OpenSeadragon({
		id: "openseadragon1",
		showNavigator:  true,
		debugMode: false,
		visibilityRatio: 1.0,
		prefixUrl: prefix_url,
		tileSources: dzi_path,
	});

	checkIfOpenSeaDragonIsReady(viewer)

	
	// new OpenSeadragon.MouseTracker({
	// 	element: viewer.element,

	// 	moveHandler: function(event) {
	// 		console.log('Move handler')
	// 		var webPoint = event.position;
	//       var viewportPoint = viewer.viewport.pointFromPixel(webPoint);
	//       var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);

	//       console.log(webPoint.toString(), viewportPoint.toString(), imagePoint.toString());
	// 	}
	// });

	// var options = {
 //            scale: 1000
 //    }
 //    var overlay = viewer.fabricjsOverlay(options);
 //    function addCircle(overlay) {
 //    	// Add fabric circle
 //        var circle = new fabric.Circle({
 //            left: 500,
 //            top: 0,
 //            fill: 'green',
 //            radius: 50,
 //            selectable: true,
 //            // action: 'gravity'
 //        });
 //        overlay.fabricCanvas().add(circle);
 //        console.log('circle', circle);

 //    }
 //    addCircle(overlay)


	// {% for region in regions %}
	// 	console.log({{region}});
	// 	var left = {{region.x}};
	// 	var top = {{region.y}};
	// 	var width = {{region.width}};
	// 	var height = {{region.height}};

	// 	console.log('region coordinates', {{region.x}}, {{region.y}}, {{region.height}}, {{region.width}});
	// 	var point1 = new OpenSeadragon.Point(left, top);
	// 	//  var point2 = new OpenSeadragon.Point(left+width, top+height);
	// 	viewerPoint = viewer.viewport.imageToViewportCoordinates(left, top);
	// 	viewerPoint = viewer.viewport.imageToViewportCoordinates(left, top);
	// 	rect = viewer.viewport.imageToViewportRectangle(left, top, width, height);
	// 	console.log('point1', point1, 'point2', point2, 'viewerPoint', viewerPoint, 'rect', rect);
	// 	overlay.fabricCanvas().add(rect);
	// 	//viewerPoint = viewer.viewport.imageToV



 //     	//var point1 = new OpenSeadragon.Point(left, top);
	//     var point2 = new OpenSeadragon.Point(left+width, top+height);

	// 	console.log('point1', point1, 'point2', point2, 'viewerPoint', viewerPoint, 'rect', rect)

	// 	//addRectangle(viewer,overlay,left,top,width,height);




	// {% empty %}

	// {% endfor %}




});

</script>


