<h2>Unlabelled Cells</h2>
<div id="unlabelled_cells_inline" class="inline_cells"></div>

<h2>Myeloid cells</h2>
<div id="myeloid_cells_inline" class="inline_cells"></div>

<h2>Lymphoid Cells</h2>
<div id="lymphoid_cells_inline" class="inline_cells"></div>

<h2>Erythroid Cells</h2>
<div id="erythroid_cells_inline" class="inline_cells"></div>

<h2>Miscelaneous Cells</h2>
<div id="misc_cells_inline" class="inline_cells"></div>

{% load static %}
<script src="{% static 'labeller/partials/main_lineages_horizontal.js' %}"></script>