{% extends "demo/base_for_demo.html" %}
{% load static %}
{% block content %}
<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="{% static 'labeller/images/jumbo_circles.png' %}">
			<div class="carousel-caption">
				<h1 class="display-2">DeepHeme</h1>
				<h3 class="display-2">A Deep Learning-Based Hematopoietic Cell Classifier for Clinical Bone Marrow Aspirates</h1>
				<button class="btn upload-btn">Click for demo</button>
			</div>
		</div>
		<div class="carousel-item">
			<img src="{% static 'labeller/images/jumbo_squares.png' %}">
			<div class="carousel-caption">
				<h1 class="display-2">DeepHeme</h1>
				<h3 class="display-2">A Deep Learning-Based Hematopoietic Cell Classifier for Clinical Bone Marrow Aspirates</h1>
				<button class="btn upload-btn">Click for demo</button>				
			</div>

		</div>
		<div class="carousel-item">
			<img src="{% static 'labeller/images/jumbo_rows.png' %}">
			<div class="carousel-caption" >
				<h1 class="display-2">DeepHeme</h1>
				<h3 class="display-2">A Deep Learning-Based Hematopoietic Cell Classifier for Clinical Bone Marrow Aspirates</h1>
				<button class="btn upload-btn">Click for demo</button>
			</div>
		</div>

	</div>
</div>

<!--- Jumbotron -->
<div class="container-fluid" style="padding: 0" >
	<div class="row jumbotron"  >
		<div class="col-xl-12 jumbotron-backgroud">
			<p class="lead text-center m-0 jumbotron-text ">Designed to enable pathologists and laboratory scientists to rapidly classify cells from bone marrow aspirates and 
				peripheral blood smears for AI applications.
			</p>
		</div>
	</div>
</div>


<div id="paper" class="container-fluid" style="padding: 0" >
	<div class="row jumbotron"  >
		<div class="col-xl-12 jumbotron-backgroud">
			<p class="lead text-center m-0 jumbotron-text ">Info on paper, link to paper
			</p>
		</div>
	</div>
</div>

<div id="demo" class="container-fluid" style="padding: 0" >
	<div class="row jumbotron"  >
		<div class="col-xl-12 jumbotron-backgroud">
			<p class="lead text-center m-0 jumbotron-text ">demo
			</p>
		</div>
	</div>
</div>

<div id="code" class="container-fluid" style="padding: 0" >
	<div class="row jumbotron"  >
		<div class="col-xl-12 jumbotron-backgroud">
			<p class="lead text-center m-0 jumbotron-text ">code
			</p>
		</div>
	</div>
</div>

<div id="about_us" class="container-fluid" style="padding: 0" >
	<div class="row jumbotron"  >
		<div class="col-xl-12 jumbotron-backgroud">
			<p class="lead text-center m-0 jumbotron-text ">about_us
			</p>
		</div>
	</div>
</div>


<!-- https://mdbootstrap.com/docs/standard/extended/gallery/ -->
<!-- Carousel wrapper -->
<div
  id="carouselMultiItemExample"
  class="carousel slide carousel-dark text-center"
  data-mdb-ride="carousel"
>
  <!-- Controls -->
  <div class="d-flex justify-content-center mb-4">
    <button
      class="carousel-control-prev position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
                class="card-img-top"
                alt="Sunset Over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/183.webp"
                class="card-img-top"
                alt="Sunset over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                class="card-img-top"
                alt="Fissure in Sandstone"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp"
                class="card-img-top"
                alt="Storm Clouds"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp"
                class="card-img-top"
                alt="Hot Air Balloons"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/187.webp"
                class="card-img-top"
                alt="Peaks Against the Starry Sky"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/188.webp"
                class="card-img-top"
                alt="Bridge Over Water"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/189.webp"
                class="card-img-top"
                alt="Purbeck Heritage Coast"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->





<!--- Fixed background -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed" style="background-image: url({% static 'labeller/images/20211118235952_BandW.jpg' %});">
		</div>
	</div>
</figure>



{% endblock content %}