
/********** General and Headers **********/
body {
	padding: 10px;
	background-color: #F2F2F2FF;
	width: 90%;
	margin: 0 auto; 
}



.rectangle {
        border: 5px solid #FF0000;
        position: absolute;
        /*z-index: 50;*/
        resize: both;
		overflow: auto;
/*        background:green;
*/ }

h1 {
	background-color: #663399FF ;
	padding: 10px;
	color: white;
	text-align: center;
}

h2 {
	background-color: white;
	padding:10px;
	color:#663399FF;
	text-align: center;
}


.row_menu {
	background-color: white;
	padding:10px;
	color:black;
	text-align: center;
}

/*General*/
.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;	
	text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.counter {
  text-transform: capitalize;
}

img { margin: auto; }



#labeller {
	display: flex;
	flex-direction: row; 
}

/********** Column1, Region Image, Dots, Canvas **********/

.highlight_dot {
	background-color: yellow;
	border: solid 5px yellow;
}

.no_highlight_dot {
	background-color: cyan;
	border: solid 4px cyan;
}

.UL.no_highlight_dot {
	background-color: red;
	border: solid 4px red;
}

.dot {
	border-radius: 10px/10px;
	width: 10px;
	height: 10px;
	display: inline-block;	
}

.hidden_dot {
	display:none;
}




/********** Column2, Current Cell/Selection **********/
.purple_box {
 	margin: auto;
	border: 1px solid purple;
	padding: 25px;
	padding-right: 50px;
	padding-left: 50px;
	align-content: center; 		

}

.column1 {
	display: flex;
	flex-direction: column;
}

.column2 {
 	margin: auto;
	border: 1px solid purple;
	padding: 25px;
	padding-right: 50px;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	align-content: center;
 }

#dot_legend {
}

#legend_table {
	border:0px;

}

.horizontal_flex{
	display: flex;
	flex-direction: row;
	align-content: top;
	padding: 25px;
	margin: auto;
}

#column2_wrapper {
	flex-direction: column;
	align-content: center 
}

.current_cell {
	text-align: center;
	align-content: center;
}

/********** Classification Table and Test keyboard **********/
#test_keyboard {
	padding-top:20px;
	text-align: center;	
}

#additional_instructions {
	text-align: center;		
}

/*#classification_table { border: 1px solid #000; border-collapse: collapse; }
*/

#classification_table { margin: auto; border: 1px solid #000; border-collapse: collapse; width: 100%;}
#classification_table { border-left: 1px solid #000; padding:5px}
.class_table_row { border-left: 1px solid #000; padding:5px}
.class_table_td { border-left: 1px solid #000; padding:5px}
td {padding:5px;}

/********** Inline Cells **********/
.inline_cells {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: scroll;
	width: 100%;
}

/*
Image width is 1037px
Image height is 665px
*/
#helpscreen {
	position:fixed;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin-top: -332px; /* Negative half of height. */
	margin-left: -518px; /* Negative half of width. */ 

}

/*
#all_cells_inline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: scroll;
	width: 100%;
}*/

.highlight {
	background: yellow;
}

.cell_list_item {
	padding-left: 20px;
	padding-right: 20px;
}


/*
#reference_maturation {
	width:100%;
}
*/




/********** Label Region Fabric **********/
.region_container_fabric {
	display:inline-block;
    margin: 0 auto; 
    position:relative; 
    border:1px solid black; 
/*    border-radius: 10px; 
    box-shadow: 0 5px 50px #333
*/}

.region_image_fabric {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.region_canvas_fabric{
    position:absolute;
    top:0;
    left:0;
    z-index:20;
}

